<h2>Create project</h2>

<!-- Part 2: Create project -->
<!-- Part 5: Project categories -->
<!-- YOUR CODE HERE -->

<form method='POST' action="/new" id="newProj">
    <span>
        <input type='text' name="title" value="" placeholder="Title">
        <input type='text' name="goal" value="" placeholder="Goal">
        <br>
        <textarea rows="4" cols="50" placeholder="Describe your project" name="description" form="newProj"></textarea>
        <br>
        <input type='date' name="start" value=""> Start date
        <br>
        <input type='date' name="end" value=""> End date

        <br>
        <input type="submit" name="" value="submit">
    </span>
</form>
